@function im($img){
  $url: "../images/"+$img;
  @return url($url);
}

@mixin button($img, $color){
  background: im($img) no-repeat center;
  width:158px;
  height:31px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  padding-left:15px;
  font-family: 'Champagne-Limousines-Bold', sans-serif;
  font-size: 17px;
  line-height: 32px;
  color: $color;
  text-decoration: none;
}

@mixin lang_icon($img) {
  display:inline-block;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
  background: im($img) no-repeat center;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -ms-box-shadow: $args;
  box-shadow: $args;
}

@mixin bg-gradient($color1, $color2, $orientation: horizontal) {
  $other-orientation: bottom;
  $w3c-orientation: to top;
  
  @if $orientation == horizontal {
    $other-orientation: bottom;
	$w3c-orientation: to top;
  } @else if $orientation == vertical {
    $other-orientation: left;
	$w3c-orientation: to right;
  }
  
  background: $color1;
  background: -moz-linear-gradient($other-orientation,  $color1 0%, $color2 100%);
  background: -webkit-linear-gradient($other-orientation,  $color1 0%,$color2 100%);
  background: linear-gradient($orientation,  $color1 0%,$color2 100%);
}

@mixin setBtnIcon($icon) {
  &.icon-#{$icon} {
    &:before { background-image: im('icon/icon-' + $icon + '.png'); }
	&:hover:before,
    &.active:before { background-image: im('icon/icon-' + $icon + '-hover.png'); }
  }
}

@mixin content_h1(){
  font-size:30px;
  line-height: 36px;
  color:#1d1d1b;
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

@mixin content_h2(){
  font-size: 19px;
  color: #adaaaa;
  margin-bottom: 10px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

@mixin line_separator() {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #f6f6f4;
  @include border-radius(100%);
}

@mixin clear() {
  clear: both;
  content: "";
  display: table;
}
@mixin zoom($arg) {
  //zoom: $arg; /* IE */
  -ms-transform: scale(0.9,0.9);
  -moz-transform: scale($arg); /* Firefox */
  //-moz-transform-origin: 0 0;
  -o-transform: scale($arg); /* Opera */
  -o-transform-origin: 0 0;
  -webkit-transform: scale($arg); /* Safari And Chrome */
  //-webkit-transform-origin: 0 0;
  transform: scale($arg); /* Standard Property */
  //transform-origin: 0 0;  /* Standard Property */
}

@mixin box-sizing($arg){
  box-sizing: $arg;
  -moz-box-sizing: $arg;
  -webkit-box-sizing: $arg;
}

@mixin linear-gradient($from, $to){
  background: -webkit-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
  background: -moz-linear-gradient($from, $to);
  background: linear-gradient($from, $to);
}