// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

.top-buffer { 
	margin-top:20px;
	margin-left: 15px;
}

.paddingLeft30 {
	padding-left: 30px;
}
				
md-card {
    margin: 0 30px 25px 30px;
	width: 460px;
	height: auto;
}
